<h3>Chào bạn,</h3>
<p>Chào mừng bạn đến với Hệ thống mua hàng tiên tiến của KPS</p>
<!-- <section id="statistics" class="flex gap-4">
  <nz-card>
    <nz-statistic [nzValue]="(1128 | number)!" [nzTitle]="'Tổng số sản phẩm'" [nzPrefix]="prefixTpl"></nz-statistic>
    <ng-template #prefixTpl><i nz-icon nzType="cube"></i></ng-template>
  </nz-card>
  
  <nz-card>
    <nz-statistic [nzValue]="(200 | number)!" [nzTitle]="'Tổng số danh mục'" [nzPrefix]="prefixTpl"></nz-statistic>
    <ng-template #prefixTpl><i nz-icon nzType="file-tray-stacked"></i></ng-template>
  </nz-card>
  
  <nz-card>
    <nz-statistic [nzValue]="(200 | number)!" [nzTitle]="'Tổng số nhà cung cấp'" [nzPrefix]="prefixTpl"></nz-statistic>
    <ng-template #prefixTpl><i nz-icon nzType="person"></i></ng-template>
  </nz-card>
</section> -->
